.button{
	height: auto;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	padding: 15px 20px;
	color: $colorPrimary;
	border: 2px solid transparent;
    border-image: linear-gradient(to right, $colorPrimary 0%, $colorSecondary 100%) 1;
    transition: .4s all ease;
    &:hover{
    	color: $colorLight;
    	background: linear-gradient(to right, $colorPrimary, $colorSecondary);
    	transform: translateX(12px);
    	transition: .4s all ease;
    	@include boxShadow;
    }
    @media #{$m}{
    	background: linear-gradient(to right, $colorPrimary, $colorSecondary);
    	color: $colorLight;
    	@include boxShadow;
    }
	& small{
		font-size: 1rem;
		margin: 0;
		font-weight: bolder;
	}
	& i{
		margin-left: 10px;
		font-size: 1.6rem;
	}
}

.button-paypal{
	width: auto;
	min-width: 274px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 15px 30px;
	color: white;
	background-color: $colorPrimary;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	outline: none;
	@include boxShadow;
	transition: all ease .3s;
	@media #{$sm}{
		padding: 15px 5px 15px 15px;
	}
	&:hover{
		transform: scale(0.95);
		transition: all ease .3s;
	}
	& small{
		font-size: 1rem;
		margin-right: 15px;
	}
}