// Color Rules

$colorPrimary: #F80652;
$colorSecondary: #4C0DFF;

$colorLight: #fefefe;
$colorDark: #1c1c1c;
$colorWhite: #ffffff;
$colorBlack: #000000;

$colorLink: #29e0ff;

$colorFacebook: #3C5A99;
$colorYoutube: #FF0000;
$colorInstagram: #D10869;
$colorTwitter: #1DA1F3;

$colorTransparent: transparent;

.text-light{
	color: $colorLight;
}

.text-dark{
	color: $colorDark;
}