footer{
	width: calc(100% - 60px);
	height: auto;
	background-color: $colorBlack;
	color: $colorLight;
	padding: 30px 30px 20px 30px;
	@media #{$sm}{
		width: calc(100% - 30px);
		padding: 15px 15px 20px 15px;
	}
}

.footer-description{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&-left{
		width: 600px;
		@media #{$l}{
			width: 100%;
			text-align: center;
		}
		& img{
			@media #{$sm}{
				width: 100%;
				object-fit: cover;
			}
		}
		& p{
			font-size: 1.4rem;
			@media #{$l}{
				width: 90%;
				margin: auto;
				margin-top: 15px;
			}
			@media #{$sm}{
				width: 100%;
				font-size: 1rem;
			}
		}
	}
	&-right{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 300px;
		@media #{$l}{
			width: 100%;
			justify-content: center;
			margin-top: 30px;
		}
		& a{
			color: $colorDark;
			height: 32px;
			background-color: $colorLight;
			padding: 10px;
			border-radius: 100px;
			font-size: 2rem;
			margin: 5px;
			& i{
				padding: 0;
				margin: 0;
			}
		}
	}
}

.footer-links{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 30px 0 30px 0;
	@media #{$l}{
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
	@media #{$m}{
		justify-content: center;
	}
	& div{
		margin-right: 20px;
		@media #{$l}{
			margin-right: 0;
			width: 330px;
		}
		@media #{$m}{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			flex-direction: column;
			margin-bottom: 60px;
		}
		& div{
			margin-bottom: 15px;
		}
	}
}

.footer-leyend{
	display: flex;
	justify-content: center;
	text-align: center;
	& div{
		& a{
			color: $colorLight;
		}
	}
}