main{
	width: calc(100vw - 60px);
	height: calc(100vh - 60px);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 30px;
	@include backgroundImage(right bottom);
	color: $colorLight;
}

.nav-container{
	width: 620px;
	margin-left: 120px;
}

.card-last-project{
	width: 300px;
	height: 100px;
	padding: 0 8px;
	background-color: $colorLight;
	color: $colorDark;
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	@include boxShadow;
	& img{
		max-width: 118px;
		max-height: 98px;
		margin-right: 8px;
		@include boxShadow;
	}
	& div{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		& small{
			color: $colorPrimary;
			font-size: .7rem;
			font-weight: bolder;
		}
		& p{
			margin: 10px 0 0;
		}
	}
}