header{
	width: calc(100% - 40px);
	height: auto;
	position: absolute;
	top: 0;
	z-index: 9;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	& nav{
		@media #{$l}{
			width: auto;
			max-width: 320px;
			height: 100vh;
			position: fixed;
			right: -100%;
			top: 0;
			z-index: 8;
			padding-top: 10px;
			color: $colorDark;
			background-image: url(../images/1x/wallpaper_nav.png);
			@include backgroundImage(center bottom);
			transition: .5s all ease;
		}
		@media #{$sm}{
			width: 100%;
		}
		& ul{
			& li{
				list-style: none;
				& a{
					display: inline-flex;
					align-items: center;
					color: $colorLight;
					padding: 10px;
					margin: 0 15px;
					transition: .3s all ease;
					&:hover{
						@media #{$l}{
							color: $colorPrimary;
							transform: translateX(5px);
							transition: .3s all ease;
						}
					}
					& div{
						display: flex;
						justify-content: flex-start;
						align-items: center;
					}
					@media #{$l}{
						display: flex;
						justify-content: space-between;
						align-items: center;
						min-width: 220px;
						margin: 10px;
						margin-left: auto;
						padding: 15px 5px 15px 20px;
						border-radius: 10px;
						font-size: 1.2rem;
						color: $colorDark;
						background-color: $colorLight;
						@include boxShadow;
					}
					& i{
						margin-right: 10px;
					}
				}
			}
		}
	}
}

.nav-social{
	display: flex;
	align-items: center;
	& a{
	font-size: 1.4rem;
	padding: 5px;
	color: $colorLight;
	margin: 0 5px;
	}
	@media #{$m}{
		display: none;
	}
}

.nav-button{
	font-size: 1.8rem;
	padding: 5px;
	color: $colorLight;
	cursor: pointer;
	@media only screen and (min-width : 1024px){
		display: none;
	}
}

.nav-active{
	right: 0;
	transition: .3s all ease;
}

.nav-header{
	@media only screen and (min-width: 1024px){
		display: none;
	}
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-width: 280px;
	margin: 10px;
	padding: 5px 15px 5px 5px;
	border-radius: 10px;
	font-size: 1.2rem;
	color: $colorDark;
	background-color: $colorLight;
	@include boxShadow;
	& i{
		padding: 10px;
		cursor: pointer;
	}
	& small{
		margin-left: 19px;
		font-weight: bold;
	}
}

.icon-nav-alternate{
	@media only screen and (min-width: 1024px){
		display: none;
	}
}

.nav-alternate-social{
	@media only screen and (min-width: 751px){
		display: none;
	}
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 10px;
	& a{
		padding: 10px;
		margin: 5px;
		color: $colorDark;
		background-color: $colorLight;
		border-radius: 50%;
		transition: .3s all ease;
		&:hover{
			@media #{$m}{
				color: $colorPrimary;
				transition: .3s all ease;
			}
		}
		@include boxShadow;
		& i{
			font-size: 1.6rem;
		}
	}
}