extends layout

block seo
  title Worhok - Diseño y Desarollo de Sitios Web Profesionales
  meta(name="description" content="En Worhok Diseñamos y Desarrollamos todo tipo de proyecto. Paginas web, Landing Pages, Sitios Web, Blogs y Portafolios Web")
  link(rel="canonical" href="https://worhok.com/")
  meta(name="robots" content="index, follow")

block content
  main(class="b-lazy" data-src="./images/1x/wallpaper_oficial_worhok.png|./images/2x/wallpaper_oficial_worhok@2x.png")
    div(class="hero-container")
      h1 Desarrollo y Diseño de Sitios Web Profesionales
      p Somos especialistas certificados en tecnologías basadas en la web.
      a(class="button" href="#")
        small Cotizar Sitio Web
        i(class="icon-arrow-right")

  a(href="#" target="_blank")
    div(class="card-last-project")
      img(data-src="./images/1x/kiosko_logotipo.png|./images/2x/kiosko_logotipo@2x.png" class="b-lazy" alt="Logotipo kiosko" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="100px" height="80px")
      div()
        small Último proyecto realizado
        p Kiosko Softworks Website

  section
    div(class="content-wrapper-left")
      div
        h2 Paginas Web para pequeños negocios
        p Desarrollamos nuestra propia tecnología basada en landing pages para ofrecer paginas web accesibles a pequeños negocios que solo necesitan mostrar lo que hacen, como lo hacen y quienes son.
        a(class="button" href="./paginas-web.html")
          small Obtén una pagina web
          i(class="icon-arrow-right")
      img(data-src="./images/1x/laptop_star_pages_system.png|./images/2x/laptop_star_pages_system@2x.png" class="b-lazy" alt="Imagen destacada del sistema de paginas web de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="500px" height="500px")

  section
    div(class="content-wrapper-right")
      div
        h2 Sitio Web Profesional pagando solo lo que usas
        p Olvídate de los famosos planes web donde te venden cosas que no necesitas. En Worhok puedes elegir las características que deseas incluir y saber realmente cual será el presupuesto para tu proyecto.
      img(data-src="./images/1x/layer_amazing_ui_smoke.png|./images/2x/layer_amazing_ui_smoke@2x.png" class="b-lazy" alt="Imagen destacada del sistema de paginas web de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="500px" height="500px")
  
  section
    div(class="content-wrapper-left")
      div
        h2 Sitios Adaptables y Optimizados
        p Realizamos pruebas de testing en monitores retina, led, lcd, celulares de gama media, tabletas de distintos tamaños, pantallas de tv y navegadores actuales. Todo para asegurarnos que tu sitio web no tenga problemas de visualización en algún dispositivo o aplicación.
      img(data-src="./images/1x/layers_rise_down_wireless.png|./images/2x/layers_rise_down_wireless@2x.png" class="b-lazy" alt="Imagen destacada del sistema de paginas web de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="500px" height="500px")

  section
    div(class="content-wrapper-right")
      div
        h2 Vive la experiencia de tener un Sitio Web Profesional
        p Basta de adobe flash, sitios inseguros sin certificados SSL, sitios mal optimizados con Wordpress, malas practicas en la programación del sitio e inexistencia de versiones del proyecto en general. Nosotros creamos sitios web con tecnologías actuales, seguras y optimizadas.
      img(data-src="./images/1x/imac_layer_glow.png|./images/2x/imac_layer_glow@2x.png" class="b-lazy" alt="Imagen destacada del sistema de paginas web de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="500px" height="500px")

  section
    div(class="content-wrapper-left")
      div
        h2 +50 Certificaciones nos respaldan
        p Nos preparamos constantemente tomando cursos en línea en diferentes plataformas para poder entregar calidad y profesionalismo en todos nuestros productos o servicios.
      img(data-src="./images/1x/certificates_example.png|./images/2x/certificates_example@2x.png" class="b-lazy" alt="Imagen destacada del sistema de paginas web de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="500px" height="500px")

  section
    div(class="b-lazy team-section-preview d-flex flex-column flex-justify-center flex-align-center" data-src="./images/1x/wallpaper_team.png|./images/2x/wallpaper_team@2x.png")
      h3(class="display-2 text-light") Nuestro Equipo
      div(class="d-flex flex-justify-evenly flex-align-center flex-wrap width-100")
        div(class="team-card-preview")
          div(class="d-flex flex-column flex-justify-center flex-align-center")
            img(data-src="./images/1x/luis_falcon_photo.png|./images/2x/luis_falcon_photo@2x.png" class="b-lazy" alt="Luis Falcon - luisdark935" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="150px" height="152px")
            h4 Luis Falcon
            p Desarrollador Frontend, Desarrollador Wordpress, Diseñador de Interfaces y Experiencia de usuario.
          a(class="button" href="./luis-falcon.html")
            small Ver Perfil Completo
            i(class="icon-arrow-right")

        div(class="team-card-preview")
          div(class="d-flex flex-column flex-justify-center flex-align-center")
            img(data-src="./images/1x/jesus_adair_photo.png|./images/2x/jesus_adair_photo@2x.png" class="b-lazy" alt="Jesus Adair foto" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="150px" height="152px")
            h4 Jesus Adair
            p Diseñador gráfico y diseñador de medios digitales 
          a(class="button" href="./jesus-adair.html")
            small Ver Perfil Completo
            i(class="icon-arrow-right")