extends layout

block seo
  title Jesus Adair Diseñador Gráfico - Worhok
  meta(name="description" content="Jesus Adair Diseñador Gráfico en Worhok. Diseñador de Medios Digitales y Social Media")
  link(rel="canonical" href="https://jesus-adair.html")
  meta(name="robots" content="index, follow")

block content
  main(class="b-lazy hero-container-profile" data-src="./images/1x/wallpaper_radial_colors.png|./images/2x/wallpaper_radial_colors@2x.png")
  div(class="profile-head-container")
    div(class="profile-head-info")
      div(class="profile-image")
        img(data-src="./images/1x/jesus_adair_photo.png|./images/2x/jesus_adair_photo@2x.png" class="b-lazy" alt="Jesus Adair - Diseñador Gráfico - Worhok" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="150px" height="152px")
        h1 Jesus Adair
      div(class="profile-description")
        h2 Perfil
        p Diseñador gráfico y diseñador de medios digitales
    div(class="profile-contact")
      h2 Contacto
      div(class="profile-social-icons")
        a(href="https://www.facebook.com/JesusAdairOficial" target="_blank")
          i(class="icon-facebook" )
        a(href="https://www.linkedin.com/in/jesus-adair-497b43179/" target="_blank")
          i(class="icon-linkedin")
        a(href="https://www.instagram.com/jesu5_adair/" target="_blank")
          i(class="icon-instagram")
        a(href="https://www.behance.net/jesusadairbc96" target="_blank")
          i(class="icon-pen-tool")

  div(class="profile-stadistics")
    div
      p Proyectos Concluidos
      small 1
    div
      p Entradas al Blog
      small 0
    div
      p Certificaciones
      small 20
  section(class="profile-certificates")
    h3 Certificaciones
    div
      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/compra_de_alcance_y_frecuencia_en_facebook.png|./images/diplomas_jesus_adair/2x/compra_de_alcance_y_frecuencia_en_facebook@2x.png" alt="Diploma del curso de Compra de alcance y frecuencia en facebook Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/conectarte_con_tu_publico_y_ampliarlo_con_facebook_live.png|./images/diplomas_jesus_adair/2x/conectarte_con_tu_publico_y_ampliarlo_con_facebook_live@2x.png" alt="Diploma del curso de conectarte con tu publico y ampliarlo con facebook live Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/consolidar_tu_presencia_en_dispositivos_moviles_con_las_herramientas_para_empresas_en_instagram.png|./images/diplomas_jesus_adair/2x/consolidar_tu_presencia_en_dispositivos_moviles_con_las_herramientas_para_empresas_en_instagram@2x.png" alt="Diploma del curso de consolidar tu presencia en dispositivos móviles con las herramientas para empresas en instagram Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/creacion_de_una_pagina_de_facebook.png|./images/diplomas_jesus_adair/2x/creacion_de_una_pagina_de_facebook@2x.png" alt="Diploma del curso de creación de una pagina en facebook Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/estrategia_de_guia_con_la_encuesta_future_of_business_survey.png|./images/diplomas_jesus_adair/2x/estrategia_de_guia_con_la_encuesta_future_of_business_survey@2x.png" alt="Diploma del curso de estrateguia de guía con la encuesta future of bussines survey Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/facebook_e_instagram.png|./images/diplomas_jesus_adair/2x/facebook_e_instagram@2x.png" alt="Diploma del curso de facebook e instagram Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/facebook_y_la_television.png|./images/diplomas_jesus_adair/2x/facebook_y_la_television@2x.png" alt="Diploma del curso de facebook y la televisión Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/generar_clientes_potenciales_facilmente_en_un_mundo_en_donde_todo_sucede_entre_dispositivos.png|./images/diplomas_jesus_adair/2x/generar_clientes_potenciales_facilmente_en_un_mundo_en_donde_todo_sucede_entre_dispositivos@2x.png" alt="Diploma del curso de generar clientes potenciales fácilmente en un mundo en donde todo sucede entre dispositivos Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/guia_expres_para_pymes.png|./images/diplomas_jesus_adair/2x/guia_expres_para_pymes@2x.png" alt="Diploma del curso de guia express para PYMES Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/incorporacion_del_administrador_de_monetizacion.png|./images/diplomas_jesus_adair/2x/incorporacion_del_administrador_de_monetizacion@2x.png" alt="Diploma del curso de incorporación del administrador de monetización Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/introduccion_a_instagram.png|./images/diplomas_jesus_adair/2x/introduccion_a_instagram@2x.png" alt="Diploma del curso de introducción a Instagram Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/introduccion_a_las_paginas_de_facebook.png|./images/diplomas_jesus_adair/2x/introduccion_a_las_paginas_de_facebook@2x.png" alt="Diploma del curso de introducción a las paginas de facebook Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/messenger_conectate_y_comunicate_con_los_clientes.png|./images/diplomas_jesus_adair/2x/messenger_conectate_y_comunicate_con_los_clientes@2x.png" alt="Diploma del curso de messenger: conectate y comunicate con los clientes Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/narracion_envolvente_con_video_y_foto_360.png|./images/diplomas_jesus_adair/2x/narracion_envolvente_con_video_y_foto_360@2x.png" alt="Diploma del curso de narración envolvente con video y foto 360° Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/planificar_campañas_de_alcance_y_frecuencia_con_el_planificador_de_campaña.png|./images/diplomas_jesus_adair/2x/planificar_campañas_de_alcance_y_frecuencia_con_el_planificador_de_campaña@2x.png" alt="Diploma del curso de planificar campañas de alcance y frecuencia con el planificador de campaña Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/protege_el_contenido_con_rights_manager.png|./images/diplomas_jesus_adair/2x/protege_el_contenido_con_rights_manager@2x.png" alt="Diploma del curso de protege el contenido con rights manager Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/red_de_publico_amplia_el_alcance_de_las_campañas_de_facebook.png|./images/diplomas_jesus_adair/2x/red_de_publico_amplia_el_alcance_de_las_campañas_de_facebook@2x.png" alt="Diploma del curso de red de publico: amplia el alcance de las campañas de facebook Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/Segmentacion_publicos_principales.png|./images/diplomas_jesus_adair/2x/Segmentacion_publicos_principales@2x.png" alt="Diploma del curso de Segmentacion de publicos principales Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/seguridad_de_la_marca_en_la_familia_de_aplicaciones_y_servicios_de_facebook.png|./images/diplomas_jesus_adair/2x/seguridad_de_la_marca_en_la_familia_de_aplicaciones_y_servicios_de_facebook@2x.png" alt="Diploma del curso de seguridad de la marca en la familia de aplicaciones y servicios de facebook Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_jesus_adair/1x/subasta_y_entrega_de_anuncios.png|./images/diplomas_jesus_adair/2x/subasta_y_entrega_de_anuncios@2x.png" alt="Diploma del curso de subasta y entrega de anuncios Blueprint" width="259px" height="335px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")