doctype html
html(lang="es" itemscope itemtype="https://schema.org/Article")
  head
    block seo
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0")
    meta(name="google" content="nositelinkssearchbox")
    meta(http-equiv="Cache-Control" content="max-age=3600")
    link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
    link(rel="manifest" href="images/favicon/site.webmanifest")
    link(rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#000000")
    meta(name="msapplication-TileColor" content="#2b5797")
    meta(name="theme-color" content="#ffffff")
    
  body

    header
      a(href="./index.html")
        img(srcset="./images/1x/logotipo_worhok_white.png, ./images/2x/logotipo_worhok_white@2x.png 2x" alt="Logotipo Worhok Blanco Transparente - White Transparent" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="150px" height="46px")
      nav(id="navbar")
        div(class="nav-header")
            i(class="icon-x" id="nav-button-close")
            small Nuestros Servicios
        ul  
          li
            a(href="./paginas-web.html")
              div
                i(class="icon-layout")
                small Paginas Web
              i(class="icon-arrow-right icon-nav-alternate")
            a(href="./sitios-web.html" style="display: none;")
              div
                i(class="icon-globe")
                small Sitios Web
              i(class="icon-arrow-right icon-nav-alternate")
            a(href="./paginas-web.html" style="display: none;")
              div
                i(class="icon-box")
                small Proyectos
              i(class="icon-arrow-right icon-nav-alternate")
        
        div(class="nav-alternate-social")
            a(href="https://www.facebook.com/Worhok/" target="_blank")  
              i(class="icon-facebook")
            a(href="https://www.instagram.com/worhok/" target="_blank")
              i(class="icon-instagram")
            a(href="https://www.youtube.com/channel/UC5MDMq0xXst-sY0heK0pDjA" target="_blank")
              i(class="icon-youtube")
      
      div(class="nav-social")
        a(href="https://www.facebook.com/Worhok/" target="_blank")
          i(class="icon-facebook")
        a(href="https://www.instagram.com/worhok/" target="_blank")
          i(class="icon-instagram")
        a(href="https://www.youtube.com/channel/UC5MDMq0xXst-sY0heK0pDjA" target="_blank")
          i(class="icon-youtube")

      i(class="icon-menu nav-button" id="nav-button")

    block content
    div(class="barcontact")
      div
        i(class="icon-clock")
        p Lunes a Viernes  9am a 6pm
      div
        i(class="icon-phone")
        p 5572184211
      div
        i(class="icon-mail")
        p team@worhok.com

    footer
      div(class="footer-description")
        div(class="footer-description-left")
          a(href="#")
            img(data-src="./images/1x/logotipo_worhok_white_large.png|./images/2x/logotipo_worhok_white_large@2x.png" class="b-lazy" alt="Logotipo Worhok White Transparent Png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="286px" height="90px")
          p Desarrollo y diseño de sitios web profesionales por especialistas en tecnologías basadas en la web.
        div(class="footer-description-right")
          a(href="https://www.facebook.com/Worhok/" target="_blank")
            i(class="icon-facebook" )
          a(href="https://www.youtube.com/channel/UC5MDMq0xXst-sY0heK0pDjA" target="_blank")
            i(class="icon-youtube")
          a(href="https://www.instagram.com/worhok/" target="_blank")
            i(class="icon-instagram")
      div(class="footer-links")
        div
          h4 Servicios
          div
            a(class="button" href="./paginas-web.html" style="display: none;")
              small Cotizar un Sitio Web
              i(class="icon-arrow-right")
          div
            a(class="button" href="#" )
              small Contratar una Pagina Web
              i(class="icon-arrow-right")
          div
            a(class="button" href="#" style="display: none;")
              small Ver todos los proyectos
              i(class="icon-arrow-right")
        div
          h4 Accesos
          div
            a(class="button" href="#" style="display: none;")
              small Visitar el Blog
              i(class="icon-arrow-right")
        div
          h4 Tecnologías
          div
            a(href="https://www.paypal.com/mx/home" target="_blank" rel="no-follow")
              img(class="b-lazy" data-src="./images/1x/logo_paypal.png|./images/2x/logo_paypal@2x.png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="Logotipo Paypal Transparente Png" width="160px" height="80px")
          div
            a(href="https://www.cloudflare.com/es-la/" target="_blank" rel="no-follow")
              img(class="b-lazy" data-src="./images/1x/logo_cloudflare.png|./images/2x/logo_cloudflare@2x.png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" alt="Logotipo Cloudflare Transparente Png" width="210px" height="31px")
          div
            a(href="https://letsencrypt.org/" target="_blank" rel="no-follow")
              img(class="b-lazy" data-src="./images/1x/logo_lets_encrypt.png|./images/2x/logo_lets_encrypt@2x.png" alt="Logotipo Let´s Encrypt Transparente Png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="220px" height="65px")
          div
            a(href="https://www.namecheap.com/" target="_blank" rel="no-follow")
              img(class="b-lazy" data-src="./images/1x/logo_namecheap.png|./images/2x/logo_namecheap@2x.png" alt="Logotipo Namecheap Transparente Png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="177px" height="33px")
        div
          h4 Nuestra Red
          div
            a(href="https://platzi.com/" target="_blank" rel="no-follow")
              img(class="b-lazy" data-src="./images/1x/logo_platzi.png|./images/2x/logo_platzi@2x.png" alt="Logotipo Platzi Transparente Png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="160px" height="62px")
      div(class="footer-leyend")
        div
          a(href="index.html") Sitio Web Desarrollado y Diseñado por Worhok - 2019
    
    link(rel='stylesheet' href='./stylesheets/main.css')
    script(src="./javascripts/core.js" defer)
    .fixed-bar
