extends layout

block seo
  title Luis Falcon Desarrollador Frontend - Worhok
  meta(name="description" content="Luis Falcon Desarrollador Frontend en Worhok. Desarrollador Wordpress. Diseñador de interfaces y experiencia de usuario. @luisdark935 @luisdark123")
  link(rel="canonical" href="https://worhok.com/luis-falcon.html")
  meta(name="robots" content="index, follow")

block content
  main(class="b-lazy hero-container-profile" data-src="./images/1x/wallpaper_mountain.png|./images/2x/wallpaper_mountain@2x.png")
  div(class="profile-head-container")
    div(class="profile-head-info")
      div(class="profile-image")
        img(data-src="./images/1x/luis_falcon_photo.png|./images/2x/luis_falcon_photo@2x.png" class="b-lazy" alt="Luis Falcon - luisdark935" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="150px" height="152px")
        h1 Luis Falcon
      div(class="profile-description")
        h2 Perfil
        p Desarrollador Frontend, Desarrollador Wordpress, Diseñador de Interfaces y Experiencia de usuario.
    div(class="profile-contact")
      h2 Contacto
      div(class="profile-social-icons")
        a(href="https://www.facebook.com/LuisDark123" target="_blank")
          i(class="icon-facebook" )
        a(href="https://github.com/LuisDark123" target="_blank")
          i(class="icon-github")
        a(href="https://www.instagram.com/luisdark935/?hl=es" target="_blank")
          i(class="icon-instagram")
        a(href="https://www.linkedin.com/in/luis-falcon-frontend/" target="_blank")
          i(class="icon-linkedin")

  div(class="profile-stadistics")
    div
      p Proyectos Concluidos
      small 2
    div
      p Entradas al Blog
      small 0
    div
      p Certificaciones
      small 38
  section(class="profile-certificates")
    h3 Certificaciones
    div
      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_adobe_xd.png|./images/diplomas_luis_falcon/x2/diploma_adobe_xd@2x.png" alt="Luis Falcon - Diploma del Curso Adobe Xd Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_arquitectura_informacion.png|./images/diplomas_luis_falcon/x2/diploma_arquitectura_informacion@2x.png" alt="Luis Falcon - Diploma del Curso Arquitectura de la informacion Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_branding.png|./images/diplomas_luis_falcon/x2/diploma_branding@2x.png" alt="Luis Falcon - Diploma del Curso Construcción de Marca Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_diseno_desarrolladores.png|./images/diplomas_luis_falcon/x2/diploma_diseno_desarrolladores@2x.png" alt="Luis Falcon - Diploma del Curso Sistemas de Diseño para Desarrolladores Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_diseno_ux.png|./images/diplomas_luis_falcon/x2/diploma_diseno_ux@2x.png" alt="Luis Falcon - Diploma de la Carrera de Diseño de Experiencia de Usuario Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_html_css.png|./images/diplomas_luis_falcon/x2/diploma_html_css@2x.png" alt="Luis Falcon - Diploma del Curso Curso de Html y Css Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_interfaces_ui.png|./images/diplomas_luis_falcon/x2/diploma_interfaces_ui@2x.png" alt="Luis Falcon - Diploma de la Carrera de Diseño de Interfaces Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_marketing_voz.png|./images/diplomas_luis_falcon/x2/diploma_marketing_voz@2x.png" alt="Luis Falcon - Diploma del Curso de Marketing de Voz a Voz Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_photoshop_web.png|./images/diplomas_luis_falcon/x2/diploma_photoshop_web@2x.png" alt="Luis Falcon - Diploma del Curso Photoshop para Diseño de Interfaces Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_prototipado.png|./images/diplomas_luis_falcon/x2/diploma_prototipado@2x.png" alt="Luis Falcon - Diploma del Curso Introducción al Diseño de Prototipos Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_seo_wordpress.png|./images/diplomas_luis_falcon/x2/diploma_seo_wordpress@2x.png" alt="Luis Falcon - Diploma del Curso de Creación y Optimización de Sitios Web con Wordpress Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_slack.png|./images/diplomas_luis_falcon/x2/diploma_slack@2x.png" alt="Luis Falcon - Diploma del Curso de Comunicación Online Con Slack Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_trello.png|./images/diplomas_luis_falcon/x2/diploma_trello@2x.png" alt="Luis Falcon - Diploma del Curso de Administración de Actividades con Trello Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_animaciones_web.png|./images/diplomas_luis_falcon/x2/diploma_animaciones_web@2x.png" alt="Luis Falcon - Diploma del Curso de Animaciones para la Web Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_atencion_cliente.png|./images/diplomas_luis_falcon/x2/diploma_atencion_cliente@2x.png" alt="Luis Falcon - Diploma del Curso de Atención al Cliente y Soporte a Usuarios Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_css_grid_layout.png|./images/diplomas_luis_falcon/x2/diploma_css_grid_layout@2x.png" alt="Luis Falcon - Diploma del Curso de Css Grid Layout Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_diseno_interfaces_ux.png|./images/diplomas_luis_falcon/x2/diploma_diseno_interfaces_ux@2x.png" alt="Luis Falcon - Diploma del Curso de Diseño de Interfaces y UX Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_foundation.png|./images/diplomas_luis_falcon/x2/diploma_foundation@2x.png" alt="Luis Falcon - Diploma del Curso de Foundation Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_html5_css3.png|./images/diplomas_luis_falcon/x2/diploma_html5_css3@2x.png" alt="Luis Falcon - Diploma del Curso de Desarrollo Web Online Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_less.png|./images/diplomas_luis_falcon/x2/diploma_less@2x.png" alt="Luis Falcon - Diploma del Curso de Less Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_negocios_online.png|./images/diplomas_luis_falcon/x2/diploma_negocios_online@2x.png" alt="Luis Falcon - Diploma del Curso de Introducción a los Negocios Online Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_pmi.png|./images/diplomas_luis_falcon/x2/diploma_pmi@2x.png" alt="Luis Falcon - Diploma del Curso de Fundamentos para la Gestión de Proyectos Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_responsive_design.png|./images/diplomas_luis_falcon/x2/diploma_responsive_design@2x.png" alt="Luis Falcon - Diploma del Curso de Responsive Design Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_sistemas_diseno.png|./images/diplomas_luis_falcon/x2/diploma_sistemas_diseno@2x.png" alt="Luis Falcon - Diploma del Curso de Sistemas de Diseño Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_stylus.png|./images/diplomas_luis_falcon/x2/diploma_stylus@2x.png" alt="Luis Falcon - Diploma del Curso de Stylus Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_user_research.png|./images/diplomas_luis_falcon/x2/diploma_user_research@2x.png" alt="Luis Falcon - Diploma del Curso de User Research Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_arquitecto.png|./images/diplomas_luis_falcon/x2/diploma_arquitecto@2x.png" alt="Luis Falcon - Diploma de la Carrera de Arquitectura Frontend Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_bootstrap.png|./images/diplomas_luis_falcon/x2/diploma_bootstrap@2x.png" alt="Luis Falcon - Diploma del Curso de Bootstrap Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_design_thinking.png|./images/diplomas_luis_falcon/x2/diploma_design_thinking@2x.png" alt="Luis Falcon - Diploma del Curso de Design Thinking con Mids Garage Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_diseno_prototipos.png|./images/diplomas_luis_falcon/x2/diploma_diseno_prototipos@2x.png" alt="Luis Falcon - Diploma del Curso de Diseño de Prototipos Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_fundamentos_diseno.png|./images/diplomas_luis_falcon/x2/diploma_fundamentos_diseno@2x.png" alt="Luis Falcon - Diploma del Curso de Introducción al Diseño Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_interfaces_moviles.png|./images/diplomas_luis_falcon/x2/diploma_interfaces_moviles@2x.png" alt="Luis Falcon - Diploma del Curso de Diseño de Interfaces Móviles Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_marca_personal.png|./images/diplomas_luis_falcon/x2/diploma_marca_personal@2x.png" alt="Luis Falcon - Diploma del Curso de Marca Personal Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_optimizacion_web.png|./images/diplomas_luis_falcon/x2/diploma_optimizacion_web@2x.png" alt="Luis Falcon - Diploma del Curso de WPO: Optimización de Carga de Sitios Web Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_postcss.png|./images/diplomas_luis_falcon/x2/diploma_postcss@2x.png" alt="Luis Falcon - Diploma del Curso de Post Css Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_sass.png|./images/diplomas_luis_falcon/x2/diploma_sass@2x.png" alt="Luis Falcon - Diploma del Curso de Sass Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_sketch.png|./images/diplomas_luis_falcon/x2/diploma_sketch@2x.png" alt="Luis Falcon - Diploma del Curso de Sketch Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")

      img(class="b-lazy" data-src="./images/diplomas_luis_falcon/x1/diploma_trabajar_freelance.png|./images/diplomas_luis_falcon/x2/diploma_trabajar_freelance@2x.png" alt="Luis Falcon - Diploma del Curso de Como Trabajar como Freelance Platzi" width="259px" height="200px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=")