extends layout

block seo
  title Paginas Web Económicas por $400 MXN al Mes - Worhok
  meta(name="description" content="Paginas Web económicas para cualquier tipo de negocio por $400 MXN al mes más HOSTING GRATIS, CERTIFICADO SSL GRATIS y DOMINIO GRATIS el primer año. Sistema inspirado en Google Sites.")
  link(rel="canonical" href="https://worhok.com/paginas-web.html")
  meta(name="robots" content="index, follow")

block content
  main(class="b-lazy" data-src="./images/1x/wallpaper_oficial_paginas_web.png|./images/2x/wallpaper_oficial_paginas_web@2x.png")
    div(class="hero-container-pages")
      h1 Paginas Web Económicas para Pequeños Negocios
      p(class="hero-price-pages") $400MXN al Mes
      form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")  
        button(class="button-paypal" type="submit")
          small Pagar con
          img(data-src="./images/1x/logo_paypal_blanco.png|./images/2x/logo_paypal_blanco@2x.png" class="b-lazy" alt="logotipo de paypal blanco transparente png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="96px" height="24px")
          input(type="hidden" name="cmd" value="_s-xclick")
          input(type="hidden" name="hosted_button_id" value="Z9Q8R4VPP4FSE")

  section
    div(class="content-wrapper-left")
      div
        h2 Mejor servicio que Google Sites
        p Si tienes un sitio gratuito en Google Sites para tu negocio deberías intentar dar el paso a un servicio de paga como este por los multiples beneficios como tener un diseño más atractivo, mejor optimización, ayuda profesional por desarrolladores web y mucho más.
        a(class="button" href="#")
          small Ver una pagina de ejemplo
          i(class="icon-arrow-right")
      img(data-src="./images/1x/laptop_destacado_sistema_paginas_web.png|./images/2x/laptop_destacado_sistema_paginas_web@2x.png" class="b-lazy" alt="Imagen destacada del sistema de paginas web de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="500px" height="333px")
    div(class="content-wrapper-right")
      div
        h2 Certificado SSL y Hosting Gratis
        p Queremos que te preocupes solo por el contenido de la pagina por lo que te regalamos el hospedaje y la seguridad sin ningún costo adicional.
      img(data-src="./images/1x/laptop_hosting_y_certificado_gratis.png|./images/2x/laptop_hosting_y_certificado_gratis@2x.png" class="b-lazy" alt="Imagen de hospedaje y certificado ssl gratis del sistema de paginas web de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="600px" height="379px")
    div(class="content-wrapper-left")
      div
        h2 Las principales acciones a la vista del usuario
        p Sabemos que el objetivo principal de tener una pagina web es que te contacten, visiten, compren o conozcan a si que diseñamos una tarjeta que contiene las acciones de llamar, mensajear o ver ubicación en Google Maps
      img(data-src="./images/1x/laptop_acciones_en_footer.png|./images/2x/laptop_acciones_en_footer@2x.png" class="b-lazy" alt="Imagen de principales acciones de los usuarios del sistema de paginas web de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="600px" height="450px")
    
  section
    div(class="jumbotron-page")
      div
        h2 Dominio gratuito por 1 año
        p Te ofrecemos un dominio gratuito con las siguientes terminaciones:
        form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")  
          button(class="button-paypal" type="submit")
            small Pagar con
            img(data-src="./images/1x/logo_paypal_blanco.png|./images/2x/logo_paypal_blanco@2x.png" class="b-lazy" alt="logotipo de paypal blanco transparente png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="96px" height="24px")
            input(type="hidden" name="cmd" value="_s-xclick")
            input(type="hidden" name="hosted_button_id" value="Z9Q8R4VPP4FSE")
      div(class="jumbotron-subcontainer-images")
        img(data-src="./images/1x/dominio_website.png|./images/2x/dominio_website@2x.png" class="b-lazy" alt="Dominio .website gratuito en el sistema de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="200px" height="63px")
        img(data-src="./images/1x/dominio_site.png|./images/2x/dominio_site@2x.png" class="b-lazy" alt="Dominio .website gratuito en el sistema de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="200px" height="63px")
        img(data-src="./images/1x/dominio_tech.png|./images/2x/dominio_tech@2x.png" class="b-lazy" alt="Dominio .website gratuito en el sistema de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="200px" height="63px")
        img(data-src="./images/1x/dominio_online.png|./images/2x/dominio_online@2x.png" class="b-lazy" alt="Dominio .website gratuito en el sistema de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="200px" height="63px")
        img(data-src="./images/1x/dominio_store.png|./images/2x/dominio_store@2x.png" class="b-lazy" alt="Dominio .website gratuito en el sistema de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="200px" height="63px")
        img(data-src="./images/1x/dominio_space.png|./images/2x/dominio_space@2x.png" class="b-lazy" alt="Dominio .website gratuito en el sistema de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="200px" height="63px")

  section
    div(class="content-wrapper-left")
      div
        h2 Optimizado para los principales navegadores
        p La tecnología de este sistema esta optimizada para reproducir contenido de próxima generación en Google Chrome, Firefox y Opera.
      img(data-src="./images/1x/celular_principales_navegadores.png|./images/2x/celular_principales_navegadores@2x.png" class="b-lazy" alt="Imagen de pagina web optimizada para los principales navegadores del sistema de paginas web de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="500px" height="306px")
    div(class="content-wrapper-right")
      div
        h2 Paginas de carga muy rapida
        p Al ser tecnología nuestra podemos controlar la velocidad de carga de la pagina llevándola a cargas de menos de 2 segundos. Esto ayuda a que tus usuarios no abandonen antes de visualizar tu pagina.
      img(data-src="./images/1x/imac_google_pagespeed_inshigts_ejemplo.png|./images/2x/imac_google_pagespeed_inshigts_ejemplo@2x.png" class="b-lazy" alt="Imagen de 100 puntos de google pagespeed insights del sistema de paginas web de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="600px" height="435px")
    div(class="content-wrapper-left")
      div
        h2 Diseño Novedoso y Minimalista
        p El diseño esta basado en tendencias de interfaces web actuales. A si tu pagina se vera fresca, minimalista y sobre todo destacado ante la competencia.
        a(class="button" href="#")
          small Ver una pagina de ejemplo
          i(class="icon-arrow-right")
      img(data-src="./images/1x/diseño_minimalista_bonzai.png|./images/2x/diseño_minimalista_bonzai@2x.png" class="b-lazy" alt="Imagen del diseño minimalista del sistema de paginas web de worhok.com" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="577px" height="387px")
    
    div(class="jumbotron-page-footer")
      div
        h2 Pagina Web
        p(class="display-2") $400 MXN al Mes
      form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")  
        button(class="button-paypal" type="submit")
          small Pagar con
          img(data-src="./images/1x/logo_paypal_blanco.png|./images/2x/logo_paypal_blanco@2x.png" class="b-lazy" alt="logotipo de paypal blanco transparente png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" width="96px" height="24px")
          input(type="hidden" name="cmd" value="_s-xclick")
          input(type="hidden" name="hosted_button_id" value="Z9Q8R4VPP4FSE")